.movies-card {
    width: 360px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.movies-card:hover {
    cursor: pointer;
}

.movies-card_container {
    margin: 0;
}

.movies-card_cover {
    border-radius: 6px;
}

.movies-card_save-button {
    font-size: 10px;
    line-height: 9px;
    text-align: center;
    color: #FFFFFF;
    background-color: #313131;
    border: none;
    border-radius: 10px;
    padding: 6px 7px;
    position: absolute;
    top: 14px;
    right: 14px;
}

.movies-card_title {
    margin-top: 14px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
    text-align: left;
}

.movies-card_data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.movies-card_length {
    width: 52px;
    height: 18px;
    font-weight: normal;
    font-size: 11px;
    line-height: 10px;
    color: #8B8B8B;
    background-color: #2F2F2F;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}