.nav-bar {
    text-align: center;
    max-width: 1280px;
    width: 100%;
}

.nav-tab {
    display: flex;
    list-style-type: none;
    display: inline-block;
    margin: 24px 0;
    padding: 0;
}

.nav-tab_item {
    float:left;
    margin-left: 20px;
}

.nav-tab_item:first-of-type {
    margin-left: 0;
}

.nav-tab_link {
    color: #FFFFFF;
    text-decoration: underline;
    padding-top: 24px;
    padding-bottom: 24px;
}